<div>
    {{ form_start(form, {'attr':{'class':'form-horizontal', 'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        
        <div class="form-group">
            {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.content, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.content) }}
            </div>
        </div>
                
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="pull-right">
                    {{ form_widget(form.submit, {'attr':{'class':'btn btn-danger'}}) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>